body {
	background-color: hsl(0, 0%, 96%);
	background-image: url("../img/bg_texture.png");
	background-repeat: repeat;
}

.btn-light {
	--bs-btn-border-color: #ebeff2;
}

.swal2-html-container {
	font-size: 0.8em !important;
	text-align: center !important;
} 