<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">

<head th:replace="~{../static/html/headSub :: head}"></head>

<body>
	<section>
		<div th:replace="~{fragments/menu :: menu}"></div>
		<div class="container mt-3">
			<h2><i class="bi bi-lock"></i> Alterar Senha</h2>
			<hr>
			<div class="card">
				<div class="card-body">
					<form action="#" th:action="@{/alterarSenha/salvar}" th:object="${senhaDTO}" method="post">
						<div class="container">
							<!-- / / / / / / / / / / / / / / / / / / / / / / / / / / / /  -->

							<div th:replace="~{fragments/message :: message}"></div>

							<div th:if="${senhaAlteradaComSucesso == null}">

								<div class="row align-items-center">

									<div class="col-sm mb-3">
										<div class="form-floating" id="show_hide_password">
											<input type="password" class="form-control" placeholder="Senha atual"
												th:field="*{atual}" maxlength="50" required />
											<label class="text-secondary">
												<span class="bi bi-key"></span> Senha atual</label>
											<span class="input-group-text">
												<a href="" style="color:gray;text-decoration: none;">
													<i id="eye" class="bi bi-eye-slash"></i> exibir senha</a></span>
										</div>
									</div>

									<div class="col-sm mb-3">
										<div class="form-floating" id="show_hide_password1">
											<input type="password" class="form-control" placeholder="Nova senha *"
												th:field="*{nova}" maxlength="50" required />
											<label class="text-secondary">
												<span class="bi bi-key"></span> Nova senha *</label>
											<span class="input-group-text">
												<a href="" style="color:gray;text-decoration: none;">
													<i id="eye1" class="bi bi-eye-slash"></i> exibir senha</a></span>
										</div>
									</div>

									<div class="col-sm mb-3 text-secondary">
										* Mímino de 8 caracteres, incluindo letras e números.
									</div>

								</div> <!-- row -->

							</div>

							<a th:href="@{/}" class="btn btn-light mt-2" role="button">
								<i class="bi bi-backspace"></i> Voltar</a>

							<button th:if="${senhaAlteradaComSucesso == null}" type="submit"
								class="btn btn-success mt-2" style="margin-left:1rem;">
								<i class="bi bi-floppy"></i> Salvar</button>

							<!-- / / / / / / / / / / / / / / / / / / / / / / / / / / / /  -->
						</div> <!-- container -->
					</form>
				</div> <!-- card-body -->
			</div> <!-- card -->
		</div>
	</section>
</body>

</html>