<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">

<head th:replace="~{../static/html/head :: head}"></head>

<body>
	<section>
		<div class="px-z4 py-5 px-md-5 text-center text-lg-start">
			<div class="container">
				<div class="row gx-lg-5 align-items-center">
					<div class="col-lg-6 mb-5 mb-lg-0">
						<h1 class="my-5 display-3 fw-bold ls-tight">
							橋 2Receive <br />
						</h1>
						<p style="color: hsl(217, 10%, 50.8%)">
							A sua ajuda no controle de contas a receber.
						</p>
					</div>
					<div class="col-lg-6 mb-5 mb-lg-0">
						<div class="card">
							<div class="card-body py-4 px-md-5">

								<!-- Login Form -->
								<form action="#" th:action="@{/authenticateTheUser}" method="post">

									<!-- Place for messages: error, alert etc ... -->
									<div class="form-group">
										<div class="col-xs-15">
											<div>
												<!-- Check for login error -->
												<div th:if="${param.error}">
													<div class="alert alert-danger col-xs-offset-1 col-xs-10">
														E-mail e/ou senha inválidos.
													</div>
												</div>
												<!-- Check for logout -->
												<div th:if="${param.logout}">
													<div class="alert alert-success col-xs-offset-1 col-xs-10">
														Você foi desconectado, até breve.
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- E-mail input -->
									<div class="form-floating mb-4">
										<input type="text" id="emailInput" name="username" class="form-control"
											placeholder="nome@exemplo.com" />
										<label class="text-secondary" for="emailInput"><span
												class="bi bi-envelope-at"></span>
											E-mail</label>
									</div>

									<!-- Senha input -->
									<div class="form-floating mb-4">
										<input type="password" id="senhaInput" name="password" class="form-control"
											placeholder="senha" />
										<label class="text-secondary" for="form3Example4"><span
												class="bi bi-lock"></span> Senha</label>
									</div>

									<!-- Submit button -->
									<button type="submit" class="btn btn-primary btn-lg col-12"><span
											class="bi bi-door-open"></span> Entrar</button>

								</form>
								<!-- Login Form -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>