<div th:fragment="menu">
	<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
	<nav class="navbar navbar-expand-lg"
		style=" background: rgb(214,214,214); background: linear-gradient(180deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 96%, rgba(214,214,214,1) 100%); ">
		<div class="container-fluid mb-1">
			<a class="navbar-brand">橋 2Receive</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}"><i class="bi bi-house"></i> Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/aReceber/list}"><i class="bi bi-cash-coin"></i> A Receber</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/alterarSenha/show}"><i class="bi bi-lock"></i> Alterar Senha</a>
					</li>
					<!-- 
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Dropdown
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
					-->
					<div sec:authorize="hasRole('ADMIN')">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuarios/list}"><i class="bi bi-people"></i> Usuários</a>
						</li>
					</div>
					<li class="nav-item">
						<a class="nav-link disabled" aria-disabled="true">
							<span sec:authentication="principal.username"></span></a>
					</li>
					<div sec:authorize="hasRole('ADMIN')">
						<li class="nav-item">
							<a class="nav-link disabled" aria-disabled="true"><span
									sec:authentication="principal.authorities"></a>
						</li>
					</div>
				</ul>
				<form class="d-flex" action="#" th:action="@{/logout}" method="post">
					<button class="btn btn-light" type="submit">
						Sair <span class="bi bi-box-arrow-right"></span></button>
				</form>
			</div>
		</div>
	</nav>
</div>