<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org">

<head th:replace="~{../static/html/headSub :: head}"></head>

<body>
	<section>

		<div th:replace="~{fragments/menu :: menu}"></div>

		<div class="container mt-3">

			<h2><i class="bi bi-people"></i> Usuários</h2>
			<hr>

			<div class="card">
				<div class="card-body">
				
					<a th:href="@{/employees/showFormForAdd}" class="btn btn-light" role="button"><i class="bi bi-person-add"></i> Novo</a>
					<div class="table-responsive mt-3">
						<table class="table table-striped">
							
							<tbody>
								<tr th:each="usuario : ${usuarios}">
									<td th:text="${usuario.id}" />
									<span th:if="${usuario.ativo}">
										<td><i class="bi bi-toggle-on"></i></td>
									</span>
									<span th:unless="${usuario.ativo}">
										<td><i class="bi bi-toggle-off"></i></td>
									</span>
									<td th:text="${usuario.email}" />
								</tr>
							</tbody>
						</table>
					</div>
					
				</div> <!-- card-body -->
			</div> <!-- card -->

		</div>

	</section>
</body>

</html>